<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Item</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN_10</th>
                <th>Author</th>
                <th>Binding</th>
                <th>Year</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
                {% for book in book %}
                <tr>
                    <td>
                        <a href="{% url 'edit_item' pk=item.id %}">
                            {{ book.title }}
                        </a>
                    </td>
                    <td>{{ book.ISBN_10 }}</td>
                    <td>{{ book.Author }}</td>
                    <td>{{ book.Binding }}</td>
                    <td>{{ book.Year }}</td>
                    <td>{{ book.Publisher }}</td>
                    
                    <td><a href="{% url 'sell_item' pk=item.id %}">ขาย</a>
                    
                </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>